VITE_API_URL=http://localhost:5000/api

#Only for development and this will be expired on 08/07/2026, replace with your own client ID in production. 
VITE_GOOGLE_CLIENT_ID=630630112209-1uc1d9bfds1jso311k3bgm7o1mtk5us7.apps.googleusercontent.com  

#Only for development and this will be expired on 08/07/2026, replace with your own site key in production.
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADvFo1s8NjKH1xS0